.inputFields {
  height: 3rem;
}

.verifyButton {
  background-color: #478ccc !important;
  color: #f5f7f8 !important;
  height: 3.5rem;
}

.verifyButton:hover {
  background-color: #478ccc !important;
  color: #f5f7f8 !important;
}
