.ResetPasswordWrapper {
  background-color: #478ccc;
}

.formWrapper {
  width: 30rem;
  background-color: #f5f7f8;
}

.inputFields {
  height: 3rem;
}

.ChangePasswordButton {
  background-color: #478ccc;
  color: #f5f7f8;
  height: 3.5rem;
}

.ChangePasswordButton:hover {
  background-color: #478ccc;
  color: #f5f7f8;
}

@media only screen and (max-width: 500px) {
  .formWrapper {
    max-width: 85%;
  }
}
